<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cook3_idle__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_idle__002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,256},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_idle__003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_idle__004.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,256},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_idle__005.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_idle__006.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,256},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_loss__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_loss__002.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,256},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_loss__003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_loss__004.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,256},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_loss__005.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_loss__006.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,256},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_loss__007.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_loss__008.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,256},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_loss__009.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_loss__010.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,256},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_loss__011.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_loss__012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_ok__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{136,250}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,58},{136,250}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_ok__002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,2},{136,248}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,60},{136,248}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_ok__003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,250},{136,246}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,62},{136,246}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_ok__004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,250},{136,246}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,62},{136,246}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_ok__005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{136,246}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,62},{136,246}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_ok__006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{136,246}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,62},{136,246}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_ok__007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,252},{136,246}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,62},{136,246}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_ok__008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,254},{136,248}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,60},{136,248}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_ok__009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,256},{136,250}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,58},{136,250}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_ok__010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_ok__011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook3_ok__012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,252}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,56},{136,252}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cook.png</string>
            <key>size</key>
            <string>{1934,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad3d1dd2ae17a61bfa6160c03e68f3e2$</string>
            <key>textureFileName</key>
            <string>cook.png</string>
        </dict>
    </dict>
</plist>
