<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cook1_idle__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1820},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_idle__002.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1822},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_idle__003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1818},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_idle__004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1624},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_idle__005.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1822},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_idle__006.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1812},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_idle__007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1820},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_loss__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1626},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_loss__002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1622},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_loss__003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_loss__004.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1616},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_loss__005.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1430},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_loss__006.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1426},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_loss__007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_loss__008.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1420},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_loss__009.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1234},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_loss__010.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1230},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{194,298}}</string>
                <key>offset</key>
                <string>{27,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__002.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,918},{198,302}}</string>
                <key>offset</key>
                <string>{27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,34},{198,302}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,212},{202,304}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,32},{202,304}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__004.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,210},{204,308}}</string>
                <key>offset</key>
                <string>{28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,28},{204,308}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__005.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{206,310}}</string>
                <key>offset</key>
                <string>{28,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,26},{206,310}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{208,310}}</string>
                <key>offset</key>
                <string>{28,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,26},{208,310}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,310}}</string>
                <key>offset</key>
                <string>{28,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,26},{208,310}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__008.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{206,308}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,28},{206,308}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__009.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,312},{206,304}}</string>
                <key>offset</key>
                <string>{29,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,32},{206,304}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{206,302}}</string>
                <key>offset</key>
                <string>{29,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,34},{206,302}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__011.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,416},{204,300}}</string>
                <key>offset</key>
                <string>{30,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,36},{204,300}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__012.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,828},{204,298}}</string>
                <key>offset</key>
                <string>{30,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,38},{204,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__013.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,622},{204,298}}</string>
                <key>offset</key>
                <string>{30,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,38},{204,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{204,298}}</string>
                <key>offset</key>
                <string>{30,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,38},{204,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__015.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,622},{204,298}}</string>
                <key>offset</key>
                <string>{30,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,38},{204,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__016.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,618},{204,298}}</string>
                <key>offset</key>
                <string>{30,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,38},{204,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__017.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,416},{204,298}}</string>
                <key>offset</key>
                <string>{30,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,38},{204,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{204,298}}</string>
                <key>offset</key>
                <string>{30,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,38},{204,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__019.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,828},{202,298}}</string>
                <key>offset</key>
                <string>{30,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{202,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{202,298}}</string>
                <key>offset</key>
                <string>{29,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,38},{202,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__021.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1032},{200,298}}</string>
                <key>offset</key>
                <string>{28,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,38},{200,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__022.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1222},{196,298}}</string>
                <key>offset</key>
                <string>{28,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,38},{196,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__023.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1034},{194,298}}</string>
                <key>offset</key>
                <string>{27,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>Cook1_ok__024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1820},{194,298}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,38},{194,298}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cook.png</string>
            <key>size</key>
            <string>{1202,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30f102a4c7c1a3b2d2353eecc2976aa3$</string>
            <key>textureFileName</key>
            <string>cook.png</string>
        </dict>
    </dict>
</plist>
